.profile__edit-button {
    border: 1px solid white;
    padding: 7px;
    grid-area: edit-button;
    align-self: center;
}

.profile__edit-button:hover {
    opacity: 0.6;
}


@media (max-width: 340px) {
    .profile__edit-button {

        padding: 5.25px;
    }
}