.form__submit-button {
    background: transparent;
    color: black;
    font-size: 1.125em;
    font-weight: 400;
    line-height: 1.36125em;
    padding-top: 14px;
    padding-bottom: 18px;
    border: 2px solid black;
    border-radius: 2px;
    opacity: 0.2;
    margin-top: 18.5px;
}



@media (max-width: 320px) {
    .form__submit-button {
        margin-top: 45px;
    }

}