.elements {
    /* margin: 0 200px 67px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 17px 20px; */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px 17px;
}



@media (max-width: 768px) {
    .elements {

        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 420px) {
    .elements {

        grid-template-columns: 1fr;

    }

}