.profile__edit-button {
    border: 1px solid white;
    padding: 6px;
    grid-area: edit-button;
    align-self: center;
    background-color: transparent;
    max-width: 24px;
}

.profile__edit-button:hover {
    opacity: 0.6;
}


@media (max-width: 340px) {
    .profile__edit-button {
        max-width: 18px;
        padding: 3.25px;
    }
}