.popup__body {
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 60px 19px 50px;
}

@media (max-width: 320px) {
    .popup__body {
        padding: 0 19px 50px;
    }

}