.form__close-icon {
    position: absolute;
    top: -40px;
    right: -40px;
    z-index: 1;
    transition: opacity 0.2s linear;
    padding: 0;
}

.form__close-icon:hover {
    opacity: 0.6;
}

@media (max-width: 540px) {
    .form__close-icon {
        top: -36px;
        right: 0;
        max-width: 20px;

    }

}