.popup__container {
    min-height: 100%;
    position: relative;
    margin: 0 auto;
    /* width: fit-content; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    /* padding: 0 19px 250px; */
}

@media (max-width: 460px) {
    .popup__container {
        padding: 0 19px 50px;

    }

}