.element__trash {
    position: absolute;
    top: 20px;
    right: 20px;
    opacity: 0;
    visibility: hidden;
    transition-timing-function: linear;
    transition-duration: 0.2s;
    transition-property: opacity, visibility;
}